extends ../../layout
include ../../partials/editor

block content
    .row
        .col-sm-8.offset-sm-2
            .card
                .card-header New Schedule Report
                .card-body
                    form.form.needs-validation(method="POST" action="/admin/schedule_report" novalidate)
                        input(type="hidden", name='_csrf',value=csrfToken)
                        include ./_form.pug

append scripts
    script(src='/javascripts/validator.js')
    script.
        $(function(){

            $('.select2').select2({
                theme:'bootstrap-5',
                minimumResultsForSearch: 6,
                width:'resolve'
            });
        });
