extends ../../layout

include ../../partials/editor
include ../../partials/event
include ../../partials/survey

block content
    .row
        .col-sm-10.offset-sm-1
            .card
                .card-header New Registration
                .card-body
                    form.form.needs-validation#attendanceForm(method="POST" action=`/event/${event.id}/register` novalidate)
                        input(type="hidden", name='_csrf',value=csrfToken)
                        include ./_form.pug
append scripts
    script(src='/javascripts/validator.js')
    script(src='/javascripts/attendance.js')
