mixin imageModal()
    .modal.fade#imageModal(role="dialog" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true")
        .modal-dialog.modal-xl.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5.modal-title
                    button.btn-close#dismissPopupModal(type="button", data-bs-dismiss="modal" area-label="Close")
                .modal-body
                    image.img-fluid.mx-auto.d-block.image-container(style='max-height:75vh')
                .modal-footer
                    button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Close

append scripts
    script.
        $(function(){
            $('.img-display-btn').on('click', showImage);
        });

        function showImage(e){
            e.preventDefault();
            e.stopPropagation();
            const $this = $(this);
            const imageUrl = $this.data('imageurl');
            const imageName = $this.data('imagename');

            const $modal = $('#imageModal');

            $modal.find('.modal-title').text(imageName);
            $modal.find('.modal-body').find('.image-container').attr('src', imageUrl);
            $modal.modal('show');

            $modal.on('hidden.bs.modal', function(e){
                $modal.modal('dispose');
            });
        }
