.form-group
    label.control-label(for="skill_usage_name") Name
    input.form-control(type="text",placeholder="Name",name="skill_usage[name]",value=skill_usage.name,id='skill_usage_name',required)
    div.invalid-feedback Please choose a valid name

.form-group
    .custom-control.custom-switch
        input.custom-control-input(type="checkbox", name="skill_usage[display_name]", id="skill_usage_display_name", checked=skill_usage.display_name)
        label.custom-control-label(for="skill_usage_display_name") Display Name to Players in Skill List

.form-group
    label.control-label(for="skill_usage_display_order") Display Order
    input.form-control(type="number",placeholder="Order",name="skill_usage[display_order]",value=skill_usage.display_order,id='skill_usage_display_order',required)
    div.invalid-feedback Please choose a valid display order


.form-group
    label.control-label(for="skill_usage_description") Description
    textarea.form-control(name="skill_usage[description]",id="skill_usage_description",rows=3)
        = skill_usage.description

.form-group
    button.btn.btn-primary(type="submit")= skill_usage.id?'Update':'Create'
    a.btn.btn-link(href="/skill_usage") Cancel


