.row.my-2
    .col
        label.control-label(for="skill_usage_name") Name
        input.form-control(type="text",placeholder="Name",name="skill_usage[name]",value=skill_usage.name,id='skill_usage_name',required)
        div.invalid-feedback Please choose a valid name

.row.my-2
    .col
        .form-check.form-switch
            input.form-check-input(type="checkbox", name="skill_usage[display_name]", id="skill_usage_display_name", checked=skill_usage.display_name)
            label.form-check-label(for="skill_usage_display_name") Display Name to Players in Skill List

.row.my-2
    .col
        label.control-label(for="skill_usage_description") Description
        textarea.form-control(name="skill_usage[description]",id="skill_usage_description",rows=3)
            = skill_usage.description

.row.my-2
    .col
        button.btn.btn-primary(type="submit")= skill_usage.id?'Update':'Create'
        a.btn.btn-link(href="/skill_usage") Cancel


