doctype html
html(lang="en").vh-100
    include ./partials/layout/head

    body.h-100.overflow-x-hidden
        .d-flex.flex-column.vh-100.overflow-y-auto
            nav.navbar.navbar-expand-md.bg-primary.fixed-top.mb-4(class=menuDark?'navbar-dark':'')
                include ./partials/layout/menu
            .flex-grow-1.pt-3#main-content

                if wideMain
                    main.container-fluid.h-100.px-0(role="main")
                        include ./partials/layout/breadcrumbs
                        include ./partials/layout/messages
                        block content

                else if fullHeightMain
                    main.container.h-100.px-0(role="main")
                        include ./partials/layout/breadcrumbs
                        include ./partials/layout/messages
                        block content
                else
                    main.container.overflow-hidden.h-100.px-0(role="main")
                        include ./partials/layout/breadcrumbs
                        include ./partials/layout/messages
                        block content

        include ./partials/layout/footer
