.container(role="messages")
    if messages.error
        .alert.alert-danger(role='alert')
            = messages.error.join(', ')

    if messages.warning
        .alert.alert-warning(role='alert')
            = messages.warning.join(', ')

    if messages.info
        .alert.alert-info(role='alert')
            = messages.info.join(', ')

    if messages.success
        .alert.alert-success(role='alert')
            = messages.success.join(', ')
