extends ../layout
include ../partials/document

block content
    .row
        .d-none.d-md-block.col-md-2
            h1.h3 Headers
            ul.list-unstyled.section-nav.sticky-top(style="top:72px")
                for source in sources
                    if source.display_to_pc || checkPermission('contrib')
                        if source.type.name !== currentType
                            li.fw-bold= capitalize(source.type.name)
                                if source.type.max_sources
                                    span.fw-normal.ms-1 (#{source.type.max_sources} Max)
                            - currentType= source.type.name
                        li
                            a.ms-2.skill-link(href=`#source-${source.id}`)= source.name


        .col.skillDoc
            for source in sources
                +sourceDoc(source, 'skilldoc')

append scripts
    script(src='/javascripts/document.js')
