extends ../layout
include ../partials/document

block content
    .row
        .d-none.d-md-block.col-md-2
            h1.h3 Headers
            ul.list-unstyled.section-nav.sticky-top(style="top:72px")
                - let currentType = null;
                for source in sources
                    if source.type.name !== currentType
                        li.fw-bold= capitalize(source.type.name)

                        - currentType= source.type.name
                    li
                        a.ms-2.skill-link(href=`#source-${source.id}`)= source.name


        .col.skillDoc
            for source in sources
                +sourceDoc(source, 'skilldoc')

append scripts
    script(src='/javascripts/document.js')
