extends ../layout

include ../partials/skills
include ../partials/editor

block content
    .row.my-2
        .col
            h3.d-inline.me-5.align-middle Skills
            span.d-inline-block.align-middle
                a.btn.btn-outline-info.me-3(href='/skill_source') Sources
                if checkPermission('gm')
                    a.btn.btn-sm.btn-outline-info.me-2(href='/skill_source_type') Source Types
                    a.btn.btn-sm.btn-outline-info.me-2(href='/skill_type') Types
                    a.btn.btn-sm.btn-outline-info.me-2(href='/skill_usage') Usages
                    a.btn.btn-sm.btn-outline-info.me-2(href='/skill_tag') Tags
                    a.btn.btn-sm.btn-outline-info.me-2(href='/attribute') Attributes
                    a.btn.btn-sm.btn-outline-info.me-2(href='/audit') Change Log
                    if checkPermission('gm')
                        if (skills.filter(skill => { return skill.status.reviewable})).length
                            a.btn.btn-sm.btn-outline-info.me-2(href='/skill/review') Skill Review
        if checkPermission('gm')
            .col
                .float-end
                    a.btn.btn-outline-info.me-2(href='/skill?export=true')
                        i.fas.fa-download.me-1
                        | CSV
                    a.btn.btn-outline-info.me-2(href='/skill?export=true&player=true')
                        i.fas.fa-download.me-1
                        | Player CSV

    .row.my-2
        .col
            if checkPermission('gm')
                a.btn.btn-outline-success.me-2.skill-new-btn(href='/skill/new')
                    span(class="fa fa-plus")
                    |  New Skill
            a.btn.btn-outline-info.me-3(role="button" href='/skill/doc')
                i.fas.fa-file-alt
                |  View as Document


    +skillList(skills, true, 'list')
    +skillModal()

append scripts
    script.
        const isGM = !{checkPermission('gm')}
    script(src='/javascripts/templates/skill/modalEditForm.js')
    script(src='/javascripts/templates/skill/modalNewForm.js')
    script(src='/javascripts/skill.js')
