.y-header, .scene-item, .user-item {
  font-size: 0.77rem;
}

#schedule-container, #schedule-legend, #unscheduled{
  display: grid;
  gap: 0px;
}
.schedule-slot{
  z-index: -1;
  background-color: rgba(var(--bs-light-rgb), 0.75);
}
.handle {
  cursor: grab;
}
.user-item{
  z-index: 20;
}
.ui-draggable-dragging a:hover, .ui-draggable-dragging .handle{
  cursor: move !important;
}
.scene-item .scene-warning, .scene-item .scene-info {
  display:none;
}

.scene-item.validation-warning .scene-warning, .scene-item.validation-info .scene-info {
  display:inline;
}

.scene-display .status-indicator{
  display: none;
}

.scene-display.border-warning .suggested-indicator,
.scene-display.border-success .confirmed-indicator {
  display: inline;
}

.scene-display.border-success .handle{
  display: none;
}
.scene-display.border-success .vertical .scene-detail-header{
  margin-top: 0.15rem;
}

.schedule-cell .schedule-drop-indicator {
  display:none;
  font-size:0.77rem;
}

.schedule-cell.bg-warning-subtle .schedule-drop-requested, .schedule-cell.bg-info-subtle .schedule-drop-required,
.schedule-cell.bg-success-subtle .schedule-drop-suggested, .schedule-cell.bg-danger-subtle .schedule-drop-rejected {
  display:inline;
}

.scene-display .user-drop-indicator {
  display:none;
  font-size:0.77rem;
}

.scene-display.bg-info-subtle .user-drop-requested,
.scene-display.bg-success-subtle .user-drop-required,
.scene-display.bg-danger-subtle .user-drop-rejected{
  display:inline;
}

.scene-info-popover {
  --bs-popover-max-width: 800px;
}


.scene-item.disabled, .schedule-filler-type-item.disabled{
  opacity: 33%
}
.user-item.disabled {
  opacity: 0
}

.screen-container, #users-panel{
    overflow: scroll;
    height:100%;
}

.resizer[data-direction="horizontal"] {
    cursor: ew-resize;
    height: 100%;
    margin-left:5px;
    margin-right: :5px;
    width: 2px;
}
.resizer[data-direction="vertical"] {
    cursor: ns-resize;
    height: 2px;
    width: 100%;
    box-shadow: 0 -1px 7px 1px rgba(0,0,0,0.3);
}
.scene-item-droppable-hover{
  opacity: 0.8;
}
