* {
   box-sizing: border-box;
  }

html, body {
  overscroll-behavior-x: none;
}

.y-header, .scene-item, .user-item, .busy-item, .scene-placeholder{
  font-size: 0.77rem;
}

.x-header{
  grid-area: xheader;
  position:sticky;
  top:0;
  z-index: 50;
}
.user-header{
  grid-area: userheader;
  position: sticky;
  top:0;
  right:0;
  z-index: 60;
}

.y-header{
  grid-area: yheader;
  position: sticky;
  left:0;
  z-index: 50;
}
.users-x{
  grid-area: user;
  position:sticky;
  right:0;
  z-index: 50;
}
.users-y{
  grid-area: user;
}

.schedule-legend{
  grid-area: legend;
  position: sticky;
  left:5px;

}
.unscheduled{
  grid-area: unscheduled;
  position: sticky;
  left:5px;
}

#unscheduled{
  display: grid;
  gap: 0px;
}
.schedule-slot{
  z-index: -1;
  background-color: rgba(var(--bs-light-rgb), 0.75);
}
.handle {
  cursor: grab;
}
.user-item{
  z-index: 20;
}
.ui-draggable-dragging a:hover, .ui-draggable-dragging .handle{
  cursor: move !important;
}
.scene-item .scene-warning, .scene-item .scene-info {
  display:none;
}

.scene-item.validation-warning .scene-warning, .scene-item.validation-info .scene-info {
  display:inline;
}

.scene-display .status-indicator{
  display: none;
}

.scene-display.border-warning .suggested-indicator,
.scene-display.border-success .confirmed-indicator {
  display: inline;
}

.scene-display.border-success .handle{
  display: none;
}
.scene-display.border-success .vertical .scene-detail-header{
  margin-top: 0.15rem;
}

.schedule-cell .schedule-drop-indicator {
  display:none;
  font-size:0.77rem;
}

.schedule-cell.bg-warning-subtle .schedule-drop-requested, .schedule-cell.bg-info-subtle .schedule-drop-required,
.schedule-cell.bg-success-subtle .schedule-drop-suggested, .schedule-cell.bg-danger-subtle .schedule-drop-rejected {
  display:inline;
}

.scene-display .user-drop-indicator {
  display:none;
  font-size:0.77rem;
}

.scene-display.bg-info-subtle .user-drop-requested,
.scene-display.bg-success-subtle .user-drop-required,
.scene-display.bg-danger-subtle .user-drop-rejected{
  display:inline;
}

.scene-info-popover {
  --bs-popover-max-width: 800px;
}


.scene-item.disabled,
.scene-item.tag-disabled,
.schedule-busy-type-item.disabled
{
  opacity: 33%
}
.user-item.disabled {
  opacity: 0
}

.scene-item-droppable-hover{
  opacity: 0.8;
}

#issues-table tr[ignored="true"] .ignore-btn,
#issues-table tr[ignored="false"] .unignore-btn,
#issues-table tr[ignored="false"] .ignored-badge
{
  display:none;
}
