html: {height: 100% }

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
  font-size: .9rem;
  padding-top:72px;
}

#main-content{
  height: 100dvh;
}

* {
    box-sizing: inherit;
}

body, .popover {
    font-family: 'Lato', sans-serif;
}

.form-control,
.form-control:focus {
  color: #2c3e50;
}

.select2-results__option .disabled{
  opacity: 0.5;
}
.lead, h1, h2, h3, h4, h5, .blockquote, .navbar{
    font-family:  'Montserrat', sans-serif;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.list-group-item .fa {
  margin-right: 5px;
}

[aria-expanded="true"] .fa-chevron-down,
[aria-expanded="false"] .fa-chevron-up,
[aria-expanded="true"] .fa-plus,
[aria-expanded="false"] .fa-minus,
[aria-expanded="true"] .expand-text,
[aria-expanded="false"] .expand-text-shown {
    display:none;
}


select.value-selector{
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23ecf0f1' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px

}
.skill-table .select2-container .select2-selection--single {
  height: 29px !important;
  font-weight: normal;
}

.skillDropdown .select2-results__options{
  font-size: 0.77rem;
}

.skill-table .select2-selection__rendered {
    line-height: 21px !important;
}
.skill-table .select2-container .select2-selection--single .select2-selection__placeholder{
      line-height: calc(1.5em + .2rem);
}

.skillDropdown .select2-container .select2-selection--single .select2-selection__rendered {
   z-index:1;
}

.select2-container .select2-selection__clear {
  margin-right: 1.4em;
  color: black;
}

.select2-container .select2-search--inline{
  float:none;
}

.select2-container .select2-search__field{
  resize: none;
}

.skill-table, .audit-table, .skill-audit-table, .character-audit-table{
  font-size: 0.77rem;
}



.skill-status, .glossary-status, .glossary_entry-status{
  font-size: 0.8rem;
}
.btn-xs
{
    padding: 1px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px;
}

table.dataTable.dtr-inline.collapsed.table-sm>tbody>tr>th:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th.dtr-control:before {
    top: 50%;
}
.skill_document > .source-description {
  font-size:1.1rem;
}

.section-nav {
  padding-left: 0;

}
.toc-entry {
  display: block;
}
.section-nav ul {
  padding-left: 1rem;
}
.toc-entry a {
  display: block;
  /*color: #99979c;*/
}

@media only screen and (min-width: 576px){
    .overall {
      min-height:100vh
    }
    .glossary-menu{
      top: 5rem;
    }
    .glossary-menu-entries{
       border-end: 1px solid #eee;
    }
    .section-nav {
      max-height: 90vh;
      overflow-y: auto;
      border-bottom: none;
      ;
    }
 }

@media only screen and (max-width: 575px){
  .section-nav {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
  }

  .section-nav li a{
    margin-bottom:10px;
  }
}

.menu-type-header{
  font-size: 1.1rem;
}

.glossary-entry-body, .glossary-entries{
  font-size:  1rem;
}

.character-sheet {
  font-size: 0.85rem;
}
.character-sheet .skill-name, .character-sheet .source-name{
  font-size:  1rem;
}
.trait-list li:nth-child(3n){
  border-end: none !important;
}
.trait-list li:nth-child(-n+3) {
  border-top: none !important;
}

.custom-field-description-popover {
  --bs-popover-max-width: 800px;
}
.skillDoc b, .skillDoc strong {
font-weight: 700;
}

.select2-container--bootstrap-5+.select2-container--bootstrap-5 {
     z-index: 900;
}

/* select2 use dynamic theme */
body .select2-container--bootstrap-5 .select2-selection {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
}

body
    .select2-container--bootstrap-5.select2-container--focus
    .select2-selection,
body
    .select2-container--bootstrap-5.select2-container--open
    .select2-selection {
    border-color: var(--bs-link-hover-color);
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

body
    .select2-container--bootstrap-5
    .select2-selection--multiple
    .select2-selection__clear,
body
    .select2-container--bootstrap-5
    .select2-selection--single
    .select2-selection__clear {
    background: transparent
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23676a6d'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
        50%/0.75rem auto no-repeat;
}
body
    .select2-container--bootstrap-5
    .select2-selection--multiple
    .select2-selection__clear:hover,
body
    .select2-container--bootstrap-5
    .select2-selection--single
    .select2-selection__clear:hover {
    background: transparent
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
        50%/0.75rem auto no-repeat;
}
body .select2-container--bootstrap-5 .select2-dropdown {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--bs-link-hover-color);
}

body
    .select2-container--bootstrap-5
    .select2-dropdown
    .select2-search
    .select2-search__field {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
}
body
    .select2-container--bootstrap-5
    .select2-dropdown
    .select2-search
    .select2-search__field:focus {
    border-color: var(--bs-link-hover-color);
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
body
    .select2-container--bootstrap-5
    .select2-dropdown
    .select2-results__options
    .select2-results__option.select2-results__message {
    color: #6c757d;
}
body
    .select2-container--bootstrap-5
    .select2-dropdown
    .select2-results__options
    .select2-results__option.select2-results__option--highlighted {
    color: var(--bs-body-color);
    background-color: var(--bs-secondary-bg) !important;
}
body
    .select2-container--bootstrap-5
    .select2-dropdown
    .select2-results__options
    .select2-results__option.select2-results__option--selected,
body
    .select2-container--bootstrap-5
    .select2-dropdown
    .select2-results__options
    .select2-results__option[aria-selected="true"]:not(
        .select2-results__option--highlighted
    ) {
    color: var(--bs-body-color);
    background-color: var(--bs-dark-bg-subtle);
}
body
    .select2-container--bootstrap-5
    .select2-dropdown
    .select2-results__options
    .select2-results__option.select2-results__option--disabled,
body
    .select2-container--bootstrap-5
    .select2-dropdown
    .select2-results__options
    .select2-results__option[aria-disabled="true"] {
    color: #6c757d;
}
body
    .select2-container--bootstrap-5
    .select2-dropdown
    .select2-results__options
    .select2-results__option[role="group"]
    .select2-results__group {
    color: #6c757d;
}
body
    .select2-container--bootstrap-5
    .select2-selection--single
    .select2-selection__rendered {
    color: var(--bs-body-color);
}
body
    .select2-container--bootstrap-5
    .select2-selection--single
    .select2-selection__rendered
    .select2-selection__placeholder {
    color: #6c757d;
}
body
    .select2-container--bootstrap-5
    .select2-selection--multiple
    .select2-selection__rendered
    .select2-selection__choice {
    color: var(--bs-body-color);
    border: var(--bs-border-width) solid var(--bs-border-color);
}

body
    .select2-container--bootstrap-5.select2-container--disabled
    .select2-selection,
body
    .select2-container--bootstrap-5.select2-container--disabled.select2-container--focus
    .select2-selection {
    color: #6c757d;
    background-color: var(--bs-light-bg-subtle);
    border-color: var(--bs-dark-bg-subtle);
}
.is-valid + body .select2-container--bootstrap-5 .select2-selection,
.was-validated
    select:valid
    + body
    .select2-container--bootstrap-5
    .select2-selection {
    border-color: #198754;
}
.is-valid
    + body
    .select2-container--bootstrap-5.select2-container--focus
    .select2-selection,
.is-valid
    + body
    .select2-container--bootstrap-5.select2-container--open
    .select2-selection,
.was-validated
    select:valid
    + body
    .select2-container--bootstrap-5.select2-container--focus
    .select2-selection,
.was-validated
    select:valid
    + body
    .select2-container--bootstrap-5.select2-container--open
    .select2-selection {
    border-color: #198754;
    box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.25);
}
.is-invalid + body .select2-container--bootstrap-5 .select2-selection,
.was-validated
    select:invalid
    + body
    .select2-container--bootstrap-5
    .select2-selection {
    border-color: #dc3545;
}
.is-invalid
    + body
    .select2-container--bootstrap-5.select2-container--focus
    .select2-selection,
.is-invalid
    + body
    .select2-container--bootstrap-5.select2-container--open
    .select2-selection,
.was-validated
    select:invalid
    + body
    .select2-container--bootstrap-5.select2-container--focus
    .select2-selection,
.was-validated
    select:invalid
    + body
    .select2-container--bootstrap-5.select2-container--open
    .select2-selection {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

@media print {
    .glossary-entries {
        margin-left:0px !important;
        margin-right:0px !important;
    }

    .entry-body {
        page-break-inside: avoid;
        padding-left: .5rem !important;
        padding-right: .5rem !important;
        border:none !important;
    }

    *{
        float:none!important;
        position:static!important;
    }
}

