include ../../partials/editor
include ../../partials/character


block content
    form.form.needs-validation#skillForm(method='POST' action=`/character/${characterId}/source` novalidate)
        input(type="hidden" name='_csrf' value=csrfToken)
        
        include ../_sourceForm.pug



