extends ../layout
include ../partials/cp_grant

block content
    .row
        .col
            a.btn.btn-outline-success.my-2(href='/cp_grant/new')
                span(class="fa fa-plus")
                |  New #{currentCampaign.renames.character_point.singular} Grant

        if myGrants && grants
            ul.nav.nav-tabs.w-100.my-2#grantTabs(role="tablist")
                li.nav-item(role="presentation")
                    a.nav-link.active#my-grants-tab(href="#my-grants" data-bs-toggle="tab" role="tab" aria-controls="my-grants" aria-selected="true") My #{currentCampaign.renames.cp.singular} Grants

                li.nav-item(role="presentation")
                    a.nav-link#all-grants-tab(href="#all-grants" data-bs-toggle="tab" role="tab" aria-controls="all-grants-tab" aria-selected="false") All #{currentCampaign.renames.cp.singular} Grants

            .tab-content#grantTabsContent
                .tab-pane.fade.show.active#my-grants(role="tabpanel" aria-labelledby="my-grants-tab")
                    +playerGrants(myGrants)
                .tab-pane.fade#all-grants(role="tabpanel" aria-labelledby="all-grants-tab")
                    +staffGrants(grants)

        else if myGrants
            +playerGrants(myGrants)

        else if grants
            +staffGrants(grants)


append scripts
    script(src='/javascripts/data-table.js')
    script(src='/javascripts/cp-grant.js')
    script.
        $(function(){
            const grantTabStorageId = 'cdb-grants-tab';
            const selectedTab = localStorage.getItem(grantTabStorageId);
            if (selectedTab) {
                $(`#${selectedTab}`).tab('show');
            }
            $('#grantTabs').on('shown.bs.tab', function(e){
                localStorage.setItem(grantTabStorageId, $(e.target).attr('id'));
            });
        });
