include ../../partials/scene
.row
    .col.text-center
        .form-check.form-switch.pt-0.form-check-inline
            input.form-check-input#showIgnoredIssues(type="checkbox")
            label.form-check-label(for="showIgnoredIssues") Show Accepted/Ignored Issues
.row
    .col
        +issueTable(scenes, false, allowedEdit)
