+customFieldForm(custom_field)

.row.my-2
    .col
        button.btn.btn-primary(type="submit")= custom_field.id?'Update':'Create'
        a.btn.btn-link(href="/character_field") Cancel


+customFieldModal()
