block content
    .card.mb-3
        h5.py-2.card-header(data-bs-toggle="collapse" href="#report-diagnose-body" aria-expanded="false") Diagnoses
            span.badge.rounded-pill.text-bg-danger.mx-2=_.keys(diagnose).length
            span.float-end.ps-2
                i.fa.fa-chevron-up
                i.fa.fa-chevron-down
        ul.card-text.list-group.list-group-flush.collapse#report-diagnose-body
            if !_.keys(diagnose).length
                li.py-2.list-group-item
                    i No Traits/Conditions
            each value, trait in diagnose
                li.py-2.list-group-item=trait
                    span.ms-1.float-end.text-small
                        if characters.length === value.length
                            i All
                        else
                            -
                                const charNames = value.map(e => {
                                    return (_.findWhere(characters, {id:e})).name
                                });
                            = charNames.join(', ')
