extends ../layout
include ../partials/editor
include ../partials/scene

block content
    .row
        .col
            .card
                .card-header= 'Edit Scene: ' + scene.name
                .card-body
                    form.form.needs-validation(method="POST" action="/scene/" + scene.id novalidate)
                        input(type="hidden", name="_method",  value="PUT")
                        input(type="hidden", name='_csrf',value=csrfToken)
                        input(type="hidden", name='scene[id]',value=scene.id)
                        include ./_form.pug

append scripts
    script(src='/javascripts/validator.js')
    script(src='/javascripts/scene.js')
    script(src='/javascripts/tag.js')

   
