extends ../layout
include ../partials/scene

block content
    a.btn.btn-outline-success.my-2(href='/scene/new')
        span(class="fa fa-plus")
        |  New Scene

    -
        const futureScenes = scenes.filter(scene => {
            if (!scene.event_id) { return true; }
            if (new Date(scene.event.end_time) > new Date()){
                return true;
            }
            return false;
        });

        const pastScenes = scenes.filter(scene => {
            if (scene.event_id && new Date(scene.event.end_time) < new Date()){
                return true;
            }
            return false;
        });

    ul.nav.nav-tabs.w-100.my-2#sceneTabs(role="tablist")
        li.nav-item(role="presentation")
            a.nav-link.active#future-scenes-tab(href="#future-scenes" data-bs-toggle="tab" role="tab" aria-controls="future-scenes" aria-selected="true") Future Scenes

        li.nav-item(role="presentation")
            a.nav-link#past-scenes-tab(href="#past-scenes" data-bs-toggle="tab" role="tab" aria-controls="past-scenes" aria-selected="false") Past Scenes


    .tab-content#sceneTabContent
        .tab-pane.fade.show.active#future-scenes(role="tabpanel" aria-labelledby="future-scenes-tab")
            +sceneTable(futureScenes)
        .tab-pane.fade#past-scenes(role="tabpanel" aria-labelledby="past-scenes-tab")
            +sceneTable(pastScenes)


append scripts
    script(src='/javascripts/data-table.js')
    script.
        $(function(){
            $('[data-bs-toggle="tooltip"]').tooltip({delay: { 'show': 500, 'hide': 100 }});
        });


