extends ../layout
include ../partials/scene

block content
    +sceneCard(scene, true)

append scripts
    script.
        $(function(){
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
