extends ../layout

include ../partials/event.pug

block content
    if checkPermission('gm')
        a.btn.btn-outline-success.my-2(href='/event/new')
            span(class="fa fa-plus")
            |  New Event


    ul.nav.nav-tabs.my-2#eventTabs(role="tablist")

        li.nav-item(role="presentation")
            a.nav-link.active#future-events-tab(href="#future-events" data-bs-toggle="tab" role="tab" aria-controls="active-pc" aria-selected="true") Upcoming Events

        li.nav-item(role="presentation")
            a.nav-link#past-events-tab(href="#past-events" data-bs-toggle="tab" role="tab" aria-controls="active-staff" aria-selected="false") Past Events


    .tab-content#eventTabContent
        .tab-pane.fade.show.active#future-events(role="tabpanel" aria-labelledby="future-events-tab")

            -
                const now = new Date()
                const futureEvents = events.filter(event => {
                    return event.end_time > now
                });
            +eventListDisplay(futureEvents)


        .tab-pane.fade#past-events(role="tabpanel" aria-labelledby="past-events-tab")
            -
                const pastEvents = events.filter(event => {
                    return event.end_time <= now
                });
            +eventListDisplay(pastEvents, true)



append scripts
    script(src='/javascripts/data-table.js')
    script.
        $(function(){
            const eventListStorageId = 'cdb-event-list-tab';
            const selectedTab = localStorage.getItem(eventListStorageId);
            if (selectedTab) {
                $(`#${selectedTab}`).tab('show');
            }
            $('#eventTabs').on('shown.bs.tab', function(e){
                localStorage.setItem(eventListStorageId, $(e.target).attr('id'));
            });
        });




