extends ../layout
include ../partials/event
include ../partials/survey


block content
    .card.my-2
        .card-header
            .row
                .col-lg
                    strong= attendance.user.name
                    if attendance.user.type === 'player' && attendance.character
                        span.ms-2 ( #{attendance.character.name} )
                .col-lg.text-lg-center= event.name
                    span.ms-2 (
                        +eventDays(event.start_time, event.end_time)
                        | )
                .col-lg.text-lg-end
                    span.me-1 Submitted:
                    = moment.utc(attendance.post_event_data.submitted_at).tz(currentCampaign.timezone).format('lll')
        .card-body
            .row-my-2
                .col.text-center
                    .form-check.form-switch.pt-0.me-2.form-check-inline
                        input.form-check-input#showUnanswered(type="checkbox")
                        label.form-check-label(for="showUnanswered") Show Unanswered Questions
            each field in event.post_event_survey.definition
                if field.type === 'scene'
                    +customSurveyFieldDisplay(field, scene_feedback)
                else if _.has(attendance.post_event_data, field.id)
                    +customSurveyFieldDisplay(field, attendance.post_event_data[field.id].data)
                else
                    +customSurveyFieldDisplay(field, null)

    if attendance.post_event_addendums
        each addendum in attendance.post_event_addendums
            if addendum.submitted
                .card.my-2
                    .card-header
                        .row
                            .col-lg
                                strong Addendum
                            .col-lg.text-lg-end
                                span.me-1 Submitted:
                                = moment.utc(addendum.submitted_at).tz(currentCampaign.timezone).format('lll')
                    .card-body.text-bg-light
                        .row
                            .col.p-2
                                if addendum.content
                                    != marked.parseInline(addendum.content, {breaks:true})
                                else
                                    i No Answer Provided
    .row.my-2
        .col
            a.btn.btn-primary(href=backto)
                i.fa.fa-arrow-left.me-1
                | Back

append scripts
    script.
        $(function(){
            if (localStorage.getItem('cdb-skill-show-unanswered-pes-fields') === 'true'){
                $('#showUnanswered').prop('checked', true);
            } else {
                $('#showUnanswered').prop('checked', false);
            }
            $('#showUnanswered').on('change', unansweredSwitch).trigger('change');
        });

        function unansweredSwitch(e){
            if ($(this).prop('checked')){
                localStorage.setItem('cdb-skill-show-unanswered-pes-fields', 'true');
            } else {
                localStorage.removeItem('cdb-skill-show-unanswered-pes-fields');
            }
            toggleUnansweredFields();
        }

        function toggleUnansweredFields(){
            if (localStorage.getItem('cdb-skill-show-unanswered-pes-fields') === 'true'){
                $('.noResponse').show();
            } else {
                $('.noResponse').hide();
            }
        }
