extends ../layout
include ../partials/event
include ../partials/survey


block content
    .card.my-2
        .card-header
            .row
                .col-lg
                    strong= attendance.user.name
                    if attendance.character
                        span.ms-2 ( #{attendance.character.name} )
                .col-lg.text-lg-center= event.name
                    span.ms-2 (
                        +eventDays(event.start_time, event.end_time)
                        | )
                .col-lg.text-lg-end
                    span.me-1 Submitted:
                    = moment.utc(attendance.post_event_data.submitted_at).tz(currentCampaign.timezone).format('lll')
        .card-body
            each field in event.post_event_survey.definition
                .row.my-2
                    .col
                        if _.has(attendance.post_event_data, field.id)
                            +customSurveyFieldDisplay(field, attendance.post_event_data[field.id].data)
                        else
                            +customSurveyFieldDisplay(field, '')

    if attendance.post_event_addendums
        each addendum in attendance.post_event_addendums
            .card.my-2
                .card-header
                    .row
                        .col-lg
                            strong Addendum
                        .col-lg.text-lg-end
                            span.me-1 Submitted:
                            = moment.utc(addendum.submitted_at).tz(currentCampaign.timezone).format('lll')
                .card-body.text-bg-light
                    .row
                        .col.p-2
                            != marked.parseInline(addendum.content, {breaks:true})
    .row.my-2
        .col
            a.btn.btn-primary(href=backto)
                i.fa.fa-arrow-left.me-1
                | Back

