table {
--bs-table-color: #eee;
}
.table>:not(caption)>*>* {
    color: white;
}
.editor-preview {
    color: black;
    background-color: #ddd !important;
}
#skill-description {
    color: black;
    background-color: #ddd;
}
.gm-note-body {
    color: #888;
}
